html, body {
    margin: 0;
}

.main-bg-color {
    background-color: #59982f;
}

.black-bg {
    background-color: #000;
}

.center-text {
    text-align: center;
}

.white-text {
    color: #fff;
}

.main-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.small-text {
    font-family: "Futura PT", sans-serif;
    text-transform: capitalize;
}

.button {
    background-color: #000;
    border-color: #fff;
    border-radius: 0.5rem;
    border-width: 1px;
    font-size: 16px;
    font-family: "Futura PT", sans-serif;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

#controls.playing .play-button, #controls.game-over .play-button {
    display: none;
}
#controls:not(.playing) .pause-button, #controls:not(.playing) .resume-button {
    display: none;
}
#controls.paused .pause-button {
    display: none;
}
#controls:not(.paused) .resume-button {
    display: none;
}
#controls:not(.game-over) .restart-button {
    display: none;
}

#board {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    background-color: #e0dede;
    border: 2px solid #000;
    margin: 20px 10vw;
    position: relative;
}

div.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}
div.col {
    flex: 1;
    height: 100%;
}
div.col.snake {
    background: #000 !important;
}

div.col.food {
    background: rgb(255, 0, 0);
}

div#gameOver {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

#board.game-over div#gameOver {
    display: block;
    background-color: #000;
}

#board.game-over div#gameOver .main-title {
    color: rgb(255, 0, 0);
}

#board.game-over div.col.snake,
#board.game-over div.col.food {
    filter: invert(1);
    z-index: 0;
}

div#gameOver #player-name {
    width: 300px;
    margin-left: calc((100% - 300px)/2);
    background-color: #000;
}

form > * {
    margin-bottom: 16px;
}

.input {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 16px;
    font-family: "Futura PT", sans-serif;
    height: 1.2rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.input::placeholder {
    font-family: "Futura PT", sans-serif;
}

.stack-above {
    /* Elements cover snake and food */
    position: relative;
    z-index: 2;
}

/************************************** High Score Table */

.modal-background {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.modal-content {
    height: 365px;
    width: 650px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    /* pointer-events: none; */
    transition: all 300ms ease-in-out;
    z-index: 1001;
}

#close {
    width: 28.66px;
    margin-left: calc( 100% - 28.66px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;
}

.close:hover {
    cursor:pointer;
 }

 .cancel {
     font-size: medium;
 }

.modal-title {
    text-align: center;
}

#high-scores {
    width: 100%;
}

th, td {
    text-align: center;
    border: 1px solid black;
}



